<div class="card my-3 w-75 mx-auto">

    <div class="card-header d-flex justify-content-between">
        <h6>Work Experience</h6>
        
        @if(!viewOnly) {
        <div class="pointer" (click)="editWorkExperienceData()">
            <span>
                <i class="bi bi-pencil me-2"></i>
                edit
            </span>
        </div>
        }
    </div>

    <div class="card-body">
        @for (item of workExperienceData; track item.id) {
        <div>
            <h6>{{ item.organization }}</h6>
            <small class="fw-bold">{{ item.fromDate | date }} - {{ item.toDate | date}}</small>
            <small>{{ item.location }} Bussiness Sector: {{ item.businessSector.name }}</small>
            <div class="fs-5">{{ item.jobTitle }}</div>
            <span class="card-text">{{ item.additionalDetails }}</span>
        </div>
        }
    </div>

</div>