@if (company) {
<mat-card class="p-1 shadow mb-4 bg-body rounded" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group class="flex-row-reverse justify-content-end gap-5">
            <mat-card-title class="mb-3">
                <span>{{ company.name }}</span>
            </mat-card-title>
            <mat-card-subtitle class="text-info">
                <span><i class="bi bi-phone me-2"></i>{{ company.ads }}</span>
                <span><i class="bi bi-mailbox ms-3 me-2"></i>{{ company.employees }}</span>
            </mat-card-subtitle>
            <img mat-card-image class="application-cv-picture" [src]="company.logo" alt="Company Picture">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="mt-2">
        <div class="d-flex justify-content-between">
            <span>
                <i class="bi bi-calendar2-week me-2"></i>
            </span>
        </div>
    </mat-card-content>
</mat-card>
}