<div class="container-fluid">

  <h5 class="text-center text-primary mt-3">Register Company</h5>

  <mat-divider class="my-4 w-75 mx-auto"></mat-divider>

  <form [formGroup]="form" (ngSubmit)="registerCompany()">

    <div class="d-flex mx-auto gap-3 my-2 w-75">
      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" placeholder="Email...">
        @if (form.controls.email.touched && form.controls.email.errors?.['required']) {
        <mat-error>Email is mandatory!</mat-error>
        }
        @if (form.controls.email.errors?.['pattern']) {
        <mat-error>Invalid email!</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password...">
        @if (form.controls.password.touched && form.controls.password.errors?.['required']) {
        <mat-error>Password is mandatory!</mat-error>
        }
        @if (form.controls.password.errors?.['minlength']) {
        <mat-error>Length must be at least {{ form.controls.password.errors?.['minlength'].requiredLength }}
          characters!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password...">
        @if (form.controls.confirmPassword.touched && form.controls.confirmPassword.errors?.['required']) {
        <mat-error>Confirm Password is mandatory!</mat-error>
        }
        @if (form.controls.confirmPassword.errors?.['minlength']) {
        <mat-error>Length must be at least {{ form.controls.confirmPassword.errors?.['minlength'].requiredLength }}
          characters!</mat-error>
        }
        @if (form.controls.confirmPassword.errors?.['mustMatch']) {
        <mat-error>Passwords must match!</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="d-flex mx-auto gap-3 w-75">
      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="First Name...">
        @if (form.controls.firstName.touched && form.controls.firstName.errors?.['required']) {
        <mat-error>First name is mandatory!</mat-error>
        }
        @if (form.controls.firstName.errors?.['minlength']) {
        <mat-error>First Name length has to be at least
          {{form.controls.firstName.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.controls.firstName.errors?.['maxlength']) {
        <mat-error>
          First name length has to maximum {{form.controls.firstName.errors?.['maxlength']['requiredLength']}}
          symbols!
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Middle Name</mat-label>
        <input type="text" matInput formControlName="middleName" placeholder="Middle Name...">
        @if (form.controls.middleName.touched && form.controls.middleName.errors?.['required']) {
        <mat-error>Middle name is mandatory!</mat-error>
        }
        @if (form.controls.middleName.errors?.['minlength']) {
        <mat-error>Middle Name length has to be at least
          {{form.controls.middleName.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.controls.middleName.errors?.['maxlength']) {
        <mat-error>Middle name length has to maximum
          {{form.controls.middleName.errors?.['maxlength']['requiredLength']}}
          symbols!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="Last Name...">
        @if (form.controls.lastName.touched && form.controls.lastName.errors?.['required']) {
        <mat-error>Last name is mandatory!</mat-error>
        }
        @if (form.controls.lastName.errors?.['minlength']) {
        <mat-error>Last Name length has to be at least
          {{form.controls.lastName.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.controls.lastName.errors?.['maxlength']) {
        <mat-error>Last name length has to maximum {{form.controls.lastName.errors?.['maxlength']['requiredLength']}}
          symbols!</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="d-flex mx-auto gap-3 w-75">
      <mat-form-field class="d-flex half-width mx-auto my-3">
        <mat-label>Company Name</mat-label>
        <input type="text" matInput formControlName="companyName" placeholder="Copany Name...">
        @if (form.controls.companyName.touched && form.controls.companyName.errors?.['required']) {
        <mat-error>Company name is mandatory!</mat-error>
        }
        @if (form.controls.companyName.errors?.['minlength']) {
        <mat-error>Company Name length has to be at least
          {{ form.controls.companyName.errors?.['minlength']['requiredLength'] }} symbols!
        </mat-error>
        }
        @if (form.controls.companyName.errors?.['maxlength']) {
        <mat-error>
          Company name length has to maximum {{ form.controls.companyName.errors?.['maxlength']['requiredLength'] }}
          symbols!
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-3">
        <mat-label>Bulstat</mat-label>
        <input type="text" matInput formControlName="bulstat" placeholder="Bulstat...">
        @if (form.controls.bulstat.touched && form.controls.bulstat.errors?.['required']) {
        <mat-error>Bulstat is mandatory!</mat-error>
        }
        @if (form.controls.bulstat.errors?.['minlength']) {
        <mat-error>Bulstat length has to be at least
          {{ form.controls.bulstat.errors?.['minlength']['requiredLength'] }} symbols!
        </mat-error>
        }
        @if (form.controls.bulstat.errors?.['maxlength']) {
        <mat-error>Bulstat length has to maximum {{ form.controls.bulstat.errors?.['maxlength']['requiredLength'] }}
          symbols!
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center">
      <div id="company-logo-uploader">
        <label for="formFile" class="form-label">Company Logo</label>
        <input #filePicker type="file" class="form-control form-control-lg" id="formFile"
          (change)="onFileChange($event)" accept="image/jpeg, image/jpg, image/png">
      </div>
    </div>

    <mat-divider class="my-4 w-75 mx-auto"></mat-divider>

    <div class="d-flex justify-content-center pb-3">
      <button mat-fab extended type="submit" [disabled]="!form.valid">
        Register
      </button>
    </div>

  </form>
</div>