<form [formGroup]="educationsForm">
  <div *ngFor="let e of educationsFormArray.controls; let i = index" [formGroup]="e" class="mt-1 mb-3">

    <mat-accordion class="full-width">
      <mat-expansion-panel class="mt-3" [expanded]="openedPanel === i" (opened)="openExpansionPanel(i)">
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-6 fst-italic">
            <span class="fs-4">Education Info {{i + 1}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>

          <div class="d-flex justify-content-start gap-3 mt-4">
            <mat-form-field class="half-width">
              <input matInput [matDatepicker]="fromDateEducationPicker" placeholder="Choose start date"
                formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromDateEducationPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDateEducationPicker></mat-datepicker>
              <mat-hint>Enter start date.</mat-hint>
              <mat-error *ngIf="e.controls['fromDate']?.touched && e.controls['fromDate']?.errors?.['required']">
                Start date is required!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width">
              <input matInput [matDatepicker]="toDateEducationPicker" placeholder="Choose end date"
                formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="toDateEducationPicker"></mat-datepicker-toggle>
              <mat-datepicker #toDateEducationPicker></mat-datepicker>
              <mat-hint>End date.</mat-hint>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-start gap-3 mt-4">
            <mat-form-field class="half-width">
              <input matInput type="text" placeholder="Organization" formControlName="organization">
              <mat-hint>Enter Organization.</mat-hint>
              <mat-error
                *ngIf="e.controls['organization']?.touched && e.controls['organization']?.errors?.['required']">Organization
                is
                required!
              </mat-error>
              <mat-error *ngIf="e.controls['organization']?.errors?.['minlength']">
                Organization length must be at least {{
                e.controls['organization'].errors?.['minlength']['requiredLength']}}
                characters!
              </mat-error>
              <mat-error *ngIf="e.controls['organization']?.errors?.['maxlength']">
                Organization length must be no more than {{
                e.controls['organization'].errors?.['maxlength']['requiredLength'] }}
                characters!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width">
              <input matInput type="text" placeholder="Location" formControlName="location">
              <mat-hint>Enter Location.</mat-hint>
              <mat-error
                *ngIf="e.controls['location']?.touched && e.controls['location']?.errors?.['required']">Location is
                required!
              </mat-error>
              <mat-error *ngIf="e.controls['location']?.errors?.['minlength']">
                Location length must be at least {{e.controls['location'].errors?.['minlength']['requiredLength']}}
                characters!
              </mat-error>
              <mat-error *ngIf="e.controls['location']?.errors?.['maxlength']">
                Location length must be no more than {{e.controls['location'].errors?.['maxlength']['requiredLength']}}
                characters!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-start gap-3 mt-4">
            <mat-form-field class="half-width">
              <mat-label>Education Level</mat-label>
              <mat-select formControlName="educationLevel" [compareWith]="compareFn">
                <mat-option *ngFor="let e of educationLevels()" [value]="e">
                  {{ e.name }}
                </mat-option>
              </mat-select>
              <mat-hint>Select education level.</mat-hint>
              <mat-error
                *ngIf="e.controls['educationLevel']?.touched && e.controls['educationLevel'].errors?.['required']">
                Education level is required!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width">
              <input matInput type="text" placeholder="Major" formControlName="major">
              <mat-hint>Enter major.</mat-hint>
              <mat-error *ngIf="e.controls['major']?.touched && e.controls['major']?.errors?.['required']">Major is
                required!
              </mat-error>
              <mat-error *ngIf="e.controls['major']?.errors?.['minlength']">
                Major length must be at least {{e.controls['major'].errors?.['minlength']['requiredLength']}}
                characters!
              </mat-error>
              <mat-error *ngIf="e.controls['major']?.errors?.['maxlength']">
                Major length must be no more than {{e.controls['major'].errors?.['maxlength']['requiredLength']}}
                characters!
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="full-width mt-4">
            <textarea matInput type="text" placeholder="Main subjects" formControlName="mainSubjects">
          </textarea>
            <mat-hint>Enter Main subjects.</mat-hint>
            <mat-error *ngIf="e.controls['mainSubjects']?.errors?.['required']">
              Main subjects field is requred!
            </mat-error>
            <mat-error *ngIf="e.controls['mainSubjects']?.errors?.['minlength']">
              Main subjects length must be at least {{
              e.controls['mainSubjects'].errors?.['minlength']['requiredLength']}}
              characters!
            </mat-error>
            <mat-error *ngIf="e.controls['mainSubjects']?.errors?.['maxlength']">
              Main subjects length must be no more than
              {{e.controls['mainSubjects'].errors?.['maxlength']['requiredLength']}}
              characters!
            </mat-error>
          </mat-form-field>

          @if (educationsFormArray.length > 1) {
          <div class="d-flex justify-content-center">
            <button mat-button color="primary" (click)="removeEducationForm(i)">
              Remove
            </button>
          </div>
          }

        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</form>

<div class="d-flex justify-content-center">
  <button mat-button [disabled]="!educationsForm.valid" (click)="addNewEducationForm()">
    Add new
  </button>
</div>
<div class="d-flex mt-3">
  @if (isEditMode) {
  <button type="submit" class="mx-auto" [disabled]="!educationsForm.valid" mat-button (click)="emitData()">
    Update Info
  </button>
  }
  @else {
  <button type="submit" [disabled]="!educationsForm.valid" mat-button matStepperNext (click)="emitData()">
    Next
  </button>
  }
</div>