<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <ul class="nav">
      <li class="nav-item">
        <a class="navbar-brand app-logo" routerLink="/home">
          <span class="fst-italic fs-5">JobFinder</span>
        </a>
      </li>
    </ul>

    <ul class="nav nav-underline">
      @if (isAuthenticated) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/ads/all">Job Ads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/companies-listing/all">Companies</a>
      </li>
      @if (isCompany) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/companies/ads/create">New ad</a>
      </li>
      }
      }
    </ul>

    <ul class="nav nav-underline">
      @if (isAuthenticated) {
      <li class="nav-item">
        <a class="nav-link" [routerLink]="isCompany ? 'companies/profile' : 'users/profile'">
          <i>{{ userName }}</i>
        </a>
      </li>
      }
      @else {
      <li class="nav-item me-4">
        <a class="nav-link" [matMenuTriggerFor]="menu">Register</a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/register-user">User</a>
          <a mat-menu-item routerLink="/register-company">Company</a>
        </mat-menu>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      }
    </ul>

  </div>
</nav>