<div class="container-fluid">

    <div class="d-flex justify-content-end gap-2 my-4 me-4">

        @if (!isEditMode) {
        <button mat-fab extended (click)="createNewWithCopiedData()">
            Copy
        </button>
        <button mat-fab extended (click)="activate()">
            Activate
        </button>
        <button mat-fab extended (click)="onEditMode()">
            Edit
        </button>
        }
        @if (isEditMode) {
        <button mat-fab extended (click)="discardChanges()">
            Discard Changes
        </button>
        }
    </div>

    <jf-ad-form [adData]="adData" [disabled]="!isEditMode" />

    <div class="d-flex justify-content-center gap-3 pb-3">
        @if (isEditMode && adDetails?.lifecycleStatusId === status.Draft) {
        <button mat-fab extended (click)="update()">
            Update
        </button>
        }
        @if (adDetails?.lifecycleStatusId === status.Active) {
        <button mat-fab extended (click)="retire()">
            Retire
        </button>
        }
    </div>
</div>