<div class="card my-3 w-75 mx-auto">

    <div class="card-header d-flex justify-content-between">
        <h6>Skills Info</h6>

        @if(mode === sectionMode.Edit) {
        <jf-edit-button (onClick)="onEditClicked()" />
        }
    </div>

    <div class="card-body">
        <span class="card-text fw-bold">Computer skills:</span>
        <p class="ms-2">{{ skillsData.computerSkills }}</p>
        @if (skillsData.otherSkills) {
        <span class="card-text fw-bold">Other skills:</span>
        <p class="ms-2">{{ skillsData.otherSkills }}</p>
        }
        @if (skillsData.licenseCategoriesText.length > 0) {
        <span class="card-text fw-bold">Driving License Categories: </span>
        <span>{{ skillsData.licenseCategoriesText }}</span>
        }
    </div>

</div>