<div class="card my-3 w-75 mx-auto">

    <div class="card-header d-flex justify-content-between">
        <h6>Courses and Certificates</h6>

        @if(!viewOnly) {
        <jf-edit-button (onClick)="onEditClicked()" />
        }
    </div>

    <div class="card-body">
        @if (coursesData.length === 0) {
        <span class="text-info"> No courses data is specified</span>
        }
        @for (item of coursesData; track item.id) {
        <div>
            <p>
                <span class="card-text fw-bold">{{ item.courseName }}: </span>
                <a class="link-opacity-50-hover" [href]="item.certificateUrl">
                    {{ item.certificateUrl }}
                </a>
            </p>
        </div>
        }
    </div>

</div>