<div class="card my-3 w-75 mx-auto">

    <div class="card-header d-flex justify-content-between">
        <h6>Courses and Certificates</h6>

        @if(mode === sectionMode.Edit) {
        <jf-edit-button (onClick)="onEditClicked()" />
        }
    </div>

    <div class="card-body">

        @if (coursesData.length === 0) {
        <span class="text-info"> No courses data is specified</span>
        }

        @for (item of coursesData; track item.id) {

        @if (mode !== sectionMode.AnonymousProfileView || item.includeInAnonymousProfile) {
        <div class="card my-2 p-3"
            [class]="{
                'cv-section-blur':
                (mode === sectionMode.AnonymousProfileCreate && item.includeInAnonymousProfile === false)
            }"
        >
            <div class="d-flex justify-content-between">
                <span class="card-text fw-bold">{{ item.courseName }}: </span>
                @if (mode === sectionMode.AnonymousProfileCreate) {
                <a (click)="blurSection(item.id)" class="pointer">
                    <i class="bi bi-eye-slash-fill"></i>
                </a>
                }
            </div>
            <a class="link-opacity-50-hover" [href]="item.certificateUrl">
                {{ item.certificateUrl }}
            </a>
        </div>
        }

        }
    </div>

</div>