<mat-card [class]="{'me-5': isEven, 'ms-5': !isEven, 'white-blue-gradient': isEven, 'blue-white-gradient': !isEven}"
    class="job-ad-card p-1 shadow mb-4 bg-body rounded"
    appearance="outlined"
    (click)="viewAdDetails(ad.id)"
>
    <mat-card-header>
        <mat-card-title-group class="flex-row-reverse justify-content-end gap-5">
            <mat-card-title class="mb-3">
                {{ ad.position }}
            </mat-card-title>
            <mat-card-subtitle>
                <span class="me-3">{{ ad.jobCategory }}</span>
                <i class="bi bi-pin-fill me-2"></i>{{ ad.location }}
                <small class="ms-3">
                    <i class="bi bi-clock me-2"></i>{{ ad.jobEngagement }}
                </small>
            </mat-card-subtitle>
            <div>
                <img mat-card-md-image [src]="ad.companyLogo" alt="Company Logo">
            </div>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="mt-2">
        <div class="d-flex justify-content-between">
            <span>{{ ad.companyName }}</span>
            <div class="salary-container">
                {{ ad.minSalary }}
            </div>
            <span class="mx-0">
                <i class="bi bi-calendar2-week me-2"></i>{{ ad.postedOn | date }}
            </span>
        </div>
    </mat-card-content>
</mat-card>