/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a {
  text-decoration: none;
}

.italic-text {
  font-style: italic;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.table-company-logo {
  max-width: 6.5rem;
  max-height: 6.5rem;
}

.company-card {
  max-width: 16.875rem;
}

.job-subscription-card {
  width: 30rem;
}