<div class="container-fluid">

    <div class="w-75 mx-auto my-3 py-4">
        @if (applications$ | async; as applications) {

        @if (applications.length === 0) {
        <mat-card class="job-ad-card p-1 shadow mb-4 bg-body rounded green-blue-gradient" appearance="outlined">
            <mat-card-content class="mt-3 d-flex justify-content-center">
                <h5>No job applications sent.</h5>
            </mat-card-content>
        </mat-card>
        }

        @for(app of applications; track app.id; let even = $even) {
        <mat-card [class]="{'me-5': even, 'ms-5': !even, 'green-blue-gradient': even, 'blue-green-gradient': !even}"
            class="job-ad-card p-1 shadow mb-4 bg-body rounded" appearance="outlined"
            (click)="viewJobApplicationDetails(app.jobAdId)">
            <mat-card-header>
                <mat-card-title-group class="flex-row-reverse justify-content-end gap-5">
                    <mat-card-title class="mb-3">
                        {{ app.jobTitle }}
                    </mat-card-title>
                    <mat-card-subtitle class="text-info">
                        <span>CV: {{ app.curriculumVitaeName }}</span>
                    </mat-card-subtitle>
                    <div>
                        <img mat-card-md-image [src]="app.companyLogo" alt="Company Logo">
                    </div>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="mt-3 d-flex justify-content-between">
                <h6>{{ app.companyName }}</h6>
                @if (app.previewDate) {
                <span class="previewed fst-italic">
                    <i class="bi bi-eye-fill me-2"></i>Previewed on: {{ app.previewDate | date: 'medium' }}
                </span>
                }
                <span>
                    <i class="bi bi-calendar2-week me-2"></i>{{ app.appliedOn | date: 'medium' }}
                </span>
            </mat-card-content>
        </mat-card>
        }
        }
    </div>

</div>