<div class="container-fluid">

  <div class="d-flex justify-content-around mt-3" *ngIf="showFiltersArea">
    <div class="mb-3">
      <label class="form-label" for="itemsCount">Items:</label>
      <select id="itemsCount" class="form-control" [(ngModel)]="itemsCount"
        (ngModelChange)="changeItemsCount($event.target.value)">
        <option *ngFor="let count of itemsCountArray" [value]="count">{{count}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label" for="filterLocation">Filter by Location:</label>
      <select id="filterLocation" class="form-control" [(ngModel)]="location"
        (ngModelChange)="changeFilterLocation($event)">
        <option *ngFor="let l of locationsArray" [value]="l">{{l}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label" for="filterCategory">Filter by Category:</label>
      <select id="filterCategory" class="form-control" [(ngModel)]="category"
        (ngModelChange)="changeFilterCategory($event)">
        <option value="0">All</option>
        <option *ngFor="let c of categories()" [value]="c.id">{{ c.name }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label" for="filterEngagement">Filter by Engagement:</label>
      <select id="filterEngagement" class="form-control" [(ngModel)]="engagement"
        (ngModelChange)="changeFilterEngagement($event)">
        <option value="0">All</option>
        <option *ngFor="let e of engagements()" [value]="e['id']">{{e['name']}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label" for="sortBy">Sort by:</label>
      <select id="sortBy" class="form-control" [(ngModel)]="sortBy" (ngModelChange)="changeSortBy($event)">
        <option value="Salary">Salary</option>
        <option value="Published" selected>Published</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label" for="order">Order:</label>
      <select id="order" class="form-control" [(ngModel)]="isAscending" (ngModelChange)="changeSortingOrder($event)">
        <option value="true">Asc</option>
        <option value="false" selected>Desc</option>
      </select>
    </div>

  </div>

  <div class="d-flex justify content around mt-3 mb-3">

    <div class="input-group w-50 mx-auto">
      <button class="btn btn-outline-secondary" (click)="toggleFilters()">
        <i class="fas fa-sliders-h"></i>{{ filterButtonLabel }}
      </button>
      <input class="form-control italic-text" [(ngModel)]="searchText" id="searchText" type="text"
        placeholder="You can search by Job Title or Company">
      <button class="btn btn-outline-secondary" (click)="searchForJobAds()">Search</button>
    </div>

    <div *ngIf="showSubscribeButton()" class="mx-auto">
      <button class="btn btn-light" (click)="subscribeForJobs()">
        <i class="bi bi-bell me-2"></i>
        Subscribe for such ads
      </button>
    </div>

  </div>

  <div class="w-75 mx-auto my-3">

    @for(jobAd of jobAds; track jobAd.id; let even = $even) {
    <mat-card [class]="{'me-5': even, 'ms-5': !even, 'white-blue-gradient': even, 'blue-white-gradient': !even}"
      class="job-ad-card p-1 shadow mb-4 bg-body rounded" appearance="outlined" (click)="viewAdDetails(jobAd.id)">
      <mat-card-header>
        <mat-card-title-group class="flex-row-reverse justify-content-end gap-5">
          <mat-card-title class="mb-3">
            {{ jobAd.position }}
          </mat-card-title>
          <mat-card-subtitle>
            <i class="bi bi-pin-fill me-2"></i>{{ jobAd.location }}
          </mat-card-subtitle>
          <div>
            <img mat-card-md-image [src]="jobAd.companyLogo" alt="Company Logo">
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="mt-2">
        <div class="d-flex justify-content-between">
          <span>
            <i class="bi bi-clock me-2"></i>{{ jobAd.jobEngagement }}
          </span>
          <div class="salary-container">
            {{ jobAd.salary }}
          </div>
          <span class="mx-0">
            <i class="bi bi-calendar-event me-2"></i>{{ jobAd.postedOn | date }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
    }

    <div class="d-flex justify-content-start w-50 mt-2">
      <jf-pagination [activePage]="currentPage" [totalRecords]="totalCount" [recordsPerPage]="itemsCount"
        (pageChange)="loadActivePageItems($event)" />
    </div>

  </div>

</div>