<div class="container-fluid pb-3">

    @if(anonymousProfileData$ | async; as ap) {
    <jf-personal-info-details [personalInfo]="ap.personalInfo" [pictureUrl]="ap.pictureUrl"
        [mode]="mode.AnonymousProfileView" />

    <jf-work-experience-details [workExperienceData]="ap.workExperiences" [mode]="mode.AnonymousProfileView" />

    <jf-education-details [educationData]="ap.educations" [mode]="mode.AnonymousProfileView" />

    <jf-languages-details [languagesData]="ap.languagesInfo" [mode]="mode.AnonymousProfileView" />

    <jf-skills-details [skillsData]="ap.skills" [mode]="mode.AnonymousProfileView" />

    <jf-courses-details [coursesData]="ap.courseCertificates" [mode]="mode.AnonymousProfileView" />

    @let cvRequestButtonTooltip = ap.isCvRequested || disableRequestCvButton
        ? "You have already requested the CV"
        : "Request CV";

    <div class="d-flex justify-content-center my-4">
        <button mat-fab extended
            [disabled]="ap.isCvRequested || disableRequestCvButton"
            disabledInteractive
            [matTooltip]="cvRequestButtonTooltip"
            (click)="requestCv()"
        > Request Cv
        </button>
    </div>
    }
</div>