<div class="card my-3 w-75 mx-auto">

    <div class="card-header d-flex justify-content-between">
        <h6>Education</h6>

        @if(mode === sectionMode.Edit) {
        <jf-edit-button (onClick)="editEducationData()" />
        }
    </div>

    <div class="card-body">
        @for (item of educationData; track item.id) {
        <div class="card my-2 p-3" [class]="{'cv-section-blur': item.includeInAnonymousProfile === false}">

            <div class="d-flex justify-content-between">
                <h6>{{ item.organization }}</h6>
                @if (mode === sectionMode.AnonymousProfile) {
                <a (click)="blurSection(item.id)" class="pointer">
                    <i class="bi bi-eye-slash-fill"></i>
                </a>
                }
            </div>

            <span>{{ item.fromDate | date}} - {{ item.toDate | date}}</span>
            <div class="fs-5">{{ item.location }}</div>
            <div class="fs-5">Level: {{ item.educationLevel.name }}</div>
            <div class="fs-5">Major: {{ item.major }}</div>
            <span class="card-text">Main subjects: {{ item.mainSubjects }}</span>
        </div>
        }
    </div>

</div>