<div class="container-fluid">
    @for(app of applicationsData(); track app.id; let even = $even) {
    <mat-card [class]="{'me-5': even, 'ms-5': !even, 'white-blue-gradient': even, 'blue-white-gradient': !even}"
        class="job-ad-card p-1 shadow mb-4 bg-body rounded"
        appearance="outlined"
        (click)="openCvPreview(app.curriculumVitaeId, app.jobAdId)"
    >
        <mat-card-header>
            <mat-card-title-group class="flex-row-reverse justify-content-end gap-5">
                <mat-card-title class="mb-3">
                    <span>{{ app.applicant }}</span>
                </mat-card-title>
                <mat-card-subtitle class="text-info">
                    <span><i class="bi bi-phone me-2"></i>{{ app.phone }}</span>
                    <span><i class="bi bi-mailbox ms-3 me-2"></i>{{ app.email }}</span>
                </mat-card-subtitle>
                <img mat-card-image class="application-cv-picture" [src]="app.curriculumVitaePictureUrl"
                    alt="CV Picture">
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content class="mt-2">
            <div class="d-flex justify-content-between">
                <ng-container>
                    @if (app.previewDate) {
                    <span class="previewed fst-italic">
                        <i class="bi bi-eye-fill"></i>
                        Previewed on: {{ app.previewDate | date: 'medium' }}
                    </span>
                    }
                    @else {
                    <span class="notPreviewed">
                        <i class="bi bi-eye-slash-fill"></i>
                        Not Previewed
                    </span>
                    }
                </ng-container>
                <span>
                    <i class="bi bi-calendar2-week me-2"></i> {{ app.appliedOn | date }}
                </span>
            </div>
        </mat-card-content>

    </mat-card>
    }
</div>