<div class="container-fluid">

  <h5 class="text-center text-primary my-2">Register</h5>

  <mat-divider class="my-4 w-75 mx-auto"></mat-divider>

  <form [formGroup]="form" (ngSubmit)="register()">

    <div class="d-flex mx-auto gap-5 my-2 w-75">
      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" placeholder="Username...">
        @if (form.get('username')?.touched && form.get('username')?.errors?.['required']) {
        <mat-error>Username is mandatory!</mat-error>
        }
        @if (form.get('username')?.errors?.['minlength']) {
        <mat-error>Username length has to be at least
          {{form.get('username')?.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.get('username')?.errors?.['maxlength']) {
        <mat-error>Username length has to maximum {{form.get('username')?.errors?.['maxlength']['requiredLength']}}
          symbols!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" placeholder="Email...">
        @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
        <mat-error>Email is mandatory!</mat-error>
        }
        @if (form.get('email')?.errors?.['pattern']) {
        <mat-error>Invalid email!</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="d-flex mx-auto gap-5 my-2 w-75">
      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password...">
        @if (form.get('password')?.touched && form.get('password')?.errors?.['required']) {
        <mat-error>Password is mandatory!</mat-error>
        }
        @if (form.get('password')?.errors?.['minlength']) {
        <mat-error>Length must be at least {{ form.get('password')?.errors?.['minlength'].requiredLength }}
          characters!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password...">
        @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors?.['required']) {
        <mat-error>Confirm Password is mandatory!</mat-error>
        }
        @if (form.get('confirmPassword')?.errors?.['minlength']) {
        <mat-error>Length must be at least {{ form.get('confirmPassword')?.errors?.['minlength'].requiredLength }}
          characters!</mat-error>
        }
        @if (form.get('confirmPassword')?.errors?.['mustMatch']) {
        <mat-error>Passwords must match!</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="d-flex mx-auto gap-3 w-75">
      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="First Name...">
        @if (form.get('firstName')?.touched && form.get('firstName')?.errors?.['required']) {
        <mat-error>First name is mandatory!</mat-error>
        }
        @if (form.get('firstName')?.errors?.['minlength']) {
        <mat-error>First Name length has to be at least
          {{form.get('firstName')?.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.get('firstName')?.errors?.['maxlength']) {
        <mat-error>First name length has to maximum {{form.get('firstName')?.errors?.['maxlength']['requiredLength']}}
          symbols!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Middle Name</mat-label>
        <input type="text" matInput formControlName="middleName" placeholder="Middle Name...">
        @if (form.get('middleName')?.touched && form.get('middleName')?.errors?.['required']) {
        <mat-error>Middle name is mandatory!</mat-error>
        }
        @if (form.get('middleName')?.errors?.['minlength']) {
        <mat-error>Middle Name length has to be at least
          {{form.get('middleName')?.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.get('middleName')?.errors?.['maxlength']) {
        <mat-error>Middle name length has to maximum {{form.get('middleName')?.errors?.['maxlength']['requiredLength']}}
          symbols!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="d-flex half-width mx-auto my-4">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="Last Name...">
        @if (form.get('lastName')?.touched && form.get('lastName')?.errors?.['required']) {
        <mat-error>Last name is mandatory!</mat-error>
        }
        @if (form.get('lastName')?.errors?.['minlength']) {
        <mat-error>Last Name length has to be at least
          {{form.get('lastName')?.errors?.['minlength']['requiredLength']}} symbols!</mat-error>
        }
        @if (form.get('lastName')?.errors?.['maxlength']) {
        <mat-error>Last name length has to maximum {{form.get('lastName')?.errors?.['maxlength']['requiredLength']}}
          symbols!</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-divider class="my-4 w-75 mx-auto"></mat-divider>

    <div class="d-flex justify-content-center pb-3">
      <button mat-fab extended type="submit" [disabled]="!form.valid">
        Register
      </button>
    </div>

  </form>
</div>