<div class="card my-3 w-75 mx-auto">

    <div class="card-header d-flex justify-content-between">
        <h6>Languages</h6>

        @if(!viewOnly) {
        <div class="pointer" (click)="onEditClicked()">
            <span>
                <i class="bi bi-pencil me-2"></i>
                edit
            </span>
        </div>
        }
    </div>

    <div class="card-body">
        @for (item of languagesData; track item.id) {
        <div>
            <span class="fw-bold">{{ item.languageType.name }}: </span>
            <span class="card-text">
                Comprehension: {{ item.comprehensionLevel.name }},
                Speaking: {{ item.speakingLevel.name }},
                Writing: {{ item.writingLevel.name }}
            </span>
        </div>
        }
    </div>

</div>