<div class="card my-3 mx-auto">
    <div class="row g-0">

        <div class="col-md-4 align-self-center" [class]="picClass">
            <img [src]="pictureUrl" class="img-fluid rounded m-1" alt="cv picture">
        </div>

        <div class="col-md-8 d-flex p-4">
            <div class="card-body">
                @if (mode !== sectionMode.AnonymousProfileView) {
                <div [class]="{'cv-details-blur': blurDetails}">
                    <h5 class="card-title">{{ fullName }}</h5>
                </div>
                }
                <div class="card-text">
                    @if (mode !== sectionMode.AnonymousProfileView) {
                    <div [class]="{'cv-details-blur': blurDetails}">
                        <span class="fw-medium">Birth Date: </span>
                        <span class="card-text">{{ personalInfo.birthdate | date }}</span>
                    </div>
                    }
                    <div>
                        <span class="fw-medium">Citizenship: </span>
                        <span class="card-text">{{ personalInfo.citizenship.name }}</span>
                    </div>
                    <div>
                        <span class="fw-medium">I live in: </span>
                        <span class="card-text">{{ personalInfo.city }}</span>
                    </div>
                    @if (mode !== sectionMode.AnonymousProfileView) {
                    <div [class]="{'cv-details-blur': blurDetails}">
                        <span class="fs-5 fw-medium">Contacts:</span>
                        <div>
                            <span class="fw-medium">Email: </span>
                            <span class="card-text">{{ personalInfo.email }}</span>
                        </div>
                        <div>
                            <i class="bi bi-phone"></i>
                            <span class="fw-medium">Phone: </span>
                            <span class="card-text">{{ personalInfo.phone }}</span>
                        </div>
                    </div>
                    }
                </div>
            </div>

            @if (mode === sectionMode.Edit) {
            <jf-edit-button (onClick)="onEditClicked()" />
            }
        </div>
    </div>
</div>