<div class="container-fluid m-5">
    <div class="d-flex justify-content-center">
        <mat-card appearance="raised" class="half-width d-flex justify-content-center">

            <mat-card-header class="mx-auto">
                <mat-card-title class="my-3">Reset Password</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmitResetPassword(form)" class="mx-4">

                    <mat-form-field class="d-flex full-width mx-auto mt-3">
                        <mat-label>New Password</mat-label>
                        <input type="password" matInput formControlName="newPassword" placeholder="New Password...">
                        @if (form.controls.newPassword.touched && form.controls.newPassword.errors?.['required']) {
                        <mat-error>Password is mandatory!</mat-error>
                        }
                        @if (form.controls.newPassword.errors?.['minlength']) {
                        <mat-error>Length must be at least {{
                            form.controls.newPassword.errors?.['minlength'].requiredLength }}
                            characters!
                        </mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field class="d-flex full-width mx-auto mt-3">
                        <mat-label>Confirm new Password</mat-label>
                        <input type="password" matInput formControlName="confirmPassword"
                            placeholder="Confirm new Password...">
                        @if (form.controls.confirmPassword.touched &&
                        form.controls.confirmPassword.errors?.['required']) {
                        <mat-error>Password is mandatory!</mat-error>
                        }
                        @if (form.controls.confirmPassword.errors?.['minlength']) {
                        <mat-error>Length must be at least {{
                            form.controls.confirmPassword.errors?.['minlength'].requiredLength }}
                            characters!
                        </mat-error>
                        }
                        @if (form.controls.confirmPassword.errors?.['mustMatch']) {
                        <mat-error>
                            Confirm password does not match with the new password
                        </mat-error>
                        }
                    </mat-form-field>

                    <div class="d-flex flex-column justify-content-center mt-4 mb-2">
                        <div class="mx-auto">
                            <button matButton="filled" type="submit" [disabled]="!form.valid">
                                Reset Password
                            </button>
                        </div>
                        <a routerLink="/home" class="mx-auto mt-3">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>>