<div class="container-fluid">

    <form [formGroup]="form" (ngSubmit)="submitAnonymousProfileAppearanceData()">

        <div class="d-flex justify-content-start ms-5 my-5">
            <mat-form-field class="quarter-width">
                <mat-label>Job Category</mat-label>
                <mat-select formControlName="jobCategoryId">
                    <mat-option *ngFor="let jobCategory of (jobCategories$ | async)" [value]="jobCategory.id">
                        {{ jobCategory.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>Select Job Category.</mat-hint>
                <mat-error
                    *ngIf="form.controls['jobCategory']?.touched && form.controls['jobCategory'].errors?.['required']">
                    Job Category is required!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-start ms-5 my-5">
            <mat-form-field class="half-width">
                <mat-label>Job Engagements</mat-label>
                <mat-select formControlName="jobEngagements" multiple>
                    <mat-option *ngFor="let engagement of (jobEngagements$ | async)" [value]="engagement.id">
                        {{ engagement.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>Select Job Engagements.</mat-hint>
                <mat-error
                    *ngIf="form.controls['jobEngagements']?.touched && form.controls['jobEngagements'].errors?.['required']">
                    Job Engagements is required!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-start ms-5 my-5">
            <mat-form-field class="half-width">
                <textarea matInput type="text" placeholder="preffered positions"
                    formControlName="preferredPositions">
                </textarea>
                <mat-hint>Here you can input preffered job positions.</mat-hint>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-start ms-5 my-5">
            <mat-form-field class="half-width">
                <mat-label>Soft Skills</mat-label>
                <mat-select formControlName="softSkills" multiple>
                    <mat-option *ngFor="let skill of (softSkills$ | async)" [value]="skill.id">
                        {{ skill.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>Select Soft Skills.</mat-hint>
                <mat-error
                    *ngIf="form.controls['softSkills']?.touched && form.controls['softSkills'].errors?.['required']">
                    Selecting one or more soft skill is mandatory!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-start ms-5 my-5">
            <mat-form-field class="half-width">
                <mat-label>Tech Stack</mat-label>
                <mat-select formControlName="techStacks" multiple>
                    <mat-option *ngFor="let stack of (techStacks$ | async)" [value]="stack.id">
                        {{ stack.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>Select Tech Stack.</mat-hint>
                <mat-error
                    *ngIf="form.controls['techStacks']?.touched && form.controls['techStacks'].errors?.['required']">
                    Selecting one or more tech stack is mandatory!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-start ms-5 my-5">
            <mat-form-field class="half-width">
                <mat-label>IT Areas</mat-label>
                <mat-select formControlName="itAreas" multiple>
                    <mat-option *ngFor="let area of (itAreas$ | async)" [value]="area.id">
                        {{ area.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>Select IT areas.</mat-hint>
                <mat-error *ngIf="form.controls['itAreas']?.touched && form.controls['itAreas'].errors?.['required']">
                    Selecting one or more it area is mandatory!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="my-5 ms-5">
            <mat-form-field class="half-width">
                <mat-label>Select your workplace preference:</mat-label>
                <mat-select formControlName="workplaceTypes" multiple>
                    <mat-option *ngFor="let workplaceType of (workplaceTypes$ | async)" [value]="workplaceType.id">
                        {{ workplaceType.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>Select workplace types.</mat-hint>
                <mat-error *ngIf="form.controls['workplaceTypes']?.touched && form.controls['workplaceTypes'].errors?.['required']">
                    Selecting one or more workplace type is mandatory!
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-fab extended type="submit" [disabled]="!form.valid" class="mt-5 me-5">
            Activate Anonymous Profile
        </button>
    </form>

</div>
