<form [formGroup]="languagesForm">
  @for (lInfo of languagesInfoFormArray.controls; track $index; let i = $index) {
  <div [formGroup]="lInfo" class="my-5">

    <span class="fs-4">Language Info</span>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <mat-form-field class="half-width">
        <mat-label>Language</mat-label>
        <mat-select formControlName="languageType" [compareWith]="compareFn">
          @for (l of languageTypes(); track l.id) {
          <mat-option [value]="l">{{ l.name }}</mat-option>
          }
        </mat-select>
        <mat-hint>Select education level.</mat-hint>
        @if (lInfo.controls['languageType']?.touched && lInfo.controls['languageType'].errors?.['required']) {
        <mat-error>Language is required!</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <mat-form-field class="half-width">
        <mat-label>Comprehension level</mat-label>
        <mat-select formControlName="comprehensionLevel" [compareWith]="compareFn">
          @for (l of languageLevels(); track l.id) {
          <mat-option [value]="l">{{ l.name }}</mat-option>
          }
        </mat-select>
        <mat-hint>Select comprehension level.</mat-hint>
        @if (lInfo.controls['comprehensionLevel']?.touched && lInfo.controls['comprehensionLevel'].errors?.['required'])
        {
        <mat-error>Comprehension level is required!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Speaking level</mat-label>
        <mat-select formControlName="speakingLevel" [compareWith]="compareFn">
          @for (l of languageLevels(); track l.id) {
          <mat-option [value]="l">{{ l.name }}</mat-option>
          }
        </mat-select>
        <mat-hint>Select speaking level.</mat-hint>
        @if (lInfo.controls['speakingLevel']?.touched && lInfo.controls['speakingLevel'].errors?.['required']) {
        <mat-error>Speaking level is required!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Wiring level</mat-label>
        <mat-select formControlName="writingLevel" [compareWith]="compareFn">
          @for (l of languageLevels(); track l.id) {
          <mat-option [value]="l">{{ l.name }}</mat-option>
          }
        </mat-select>
        <mat-hint>Select writing level.</mat-hint>
        @if (lInfo.controls['writingLevel']?.touched && lInfo.controls['writingLevel'].errors?.['required']) {
        <mat-error>Writing level is required!</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  }

  <div class="d-flex justify-content-center gap-3 mt-4">
    <button mat-button color="primary" [disabled]="!languagesForm.valid" (click)="addNewLanguageInfoForm()">
      Add new
    </button>
    <button mat-button color="primary" (click)="removeLastLanguageInfoForm()">
      Remove last
    </button>
  </div>

  <div class="d-flex justify-content-center mt-3">
    @if (isEditMode) {
    <button type="submit" mat-fab extended [disabled]="!languagesForm.valid" (click)="emitData()">
      Update Info
    </button>
    }
    @else {
    <button type="submit" mat-button matStepperNext [disabled]="!languagesForm.valid" (click)="emitData()">
      Next
    </button>
    }
  </div>
</form>