<div class="container-fluid p-4">

    <div class="d-flex justify-content-center mt-2 mb-4">
        <mat-button-toggle-group (change)="changeFilter($event)" [value]="filterType.All">
            <mat-button-toggle [value]="filterType.Active">Active</mat-button-toggle>
            <mat-button-toggle [value]="filterType.Draft">Draft</mat-button-toggle>
            <mat-button-toggle [value]="filterType.Retired">Retired</mat-button-toggle>
            <mat-button-toggle [value]="filterType.All">All</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <mat-accordion multi="false">
        @for (jobAd of jobAds; track jobAd.id; let even = $even) {
        <jf-job-ad-card [jobAd]="jobAd" [isEven]="even" (onClicked)="viewAdDetails(jobAd.id)" />
        }
    </mat-accordion>

</div>