<div class="container-fluid p-4">
    @for(jobAd of jobAds$ | async; track jobAd.id; let even = $even) {
    <mat-card [class]="{'me-5': even, 'ms-5': !even, 'white-blue-gradient': even, 'blue-white-gradient': !even}"
        class="job-ad-card p-1 shadow mb-4 bg-body rounded" appearance="outlined" (click)="viewAdDetails(jobAd.id)">
        <mat-card-header>
            <mat-card-title-group class="flex-row-reverse justify-content-end gap-5">
                <mat-card-title class="mb-3">
                    {{ jobAd.position }}
                </mat-card-title>
                <mat-card-subtitle>
                    <i class="bi bi-pin-fill me-2"></i>{{ jobAd.location }}
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="mt-2">

            <div class="d-flex justify-content-between">
                <div class="salary-container">
                    {{ jobAd.salary }}
                </div>
                <span class="mx-0">
                    <i class="bi bi-calendar2-week me-2"></i>{{ jobAd.publishDate | date }}
                </span>
            </div>

            <mat-accordion>
                <mat-expansion-panel class="mt-3" (opened)="openExpansionPanel(jobAd.id)">

                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ jobAd.applicationsSent }} applications | {{
                            jobAd.notPreviewedApplications}} new
                        </mat-panel-title>
                        @if(jobAd.applicationsSent > 0) {
                        <mat-panel-description>
                            Expand to reveal more information about the applications
                        </mat-panel-description>
                        }
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <jf-ad-applications-listing [applicationsData]="applicationsDataResource.value()" />
                    </ng-template>

                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>

    </mat-card>
    }
</div>