<form [formGroup]="coursesForm">

  @for (cInfo of coursesFormArray.controls; track $index; let i = $index) {

  <div [formGroup]="cInfo" class="mt-1 mb-3">

    <span class="fs-4">Course Info {{ (i + 1 === 1 ? '' : i + 1) }}</span>

    <div class="d-flex justify-content-start gap-3 mt-3">
      <mat-form-field class="half-width">
        <input matInput type="text" placeholder="Course name" formControlName="courseName">
        <mat-hint>Enter course name.</mat-hint>
        @if (cInfo.controls['courseName']?.errors?.['minlength']) {
        <mat-error>
          Course name length must be at least
          {{cInfo.controls['courseName'].errors?.['minlength']['requiredLength']}} characters!
        </mat-error>
        }
        @if (cInfo.controls['courseName']?.errors?.['maxlength']) {
        <mat-error>
          Course name length must be no more than
          {{cInfo.controls['courseName'].errors?.['maxlength']['requiredLength']}} characters!
        </mat-error>
        }
        @if (cInfo.controls['courseName']?.errors?.['pairValues']) {
        <mat-error>Course name is required!</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput type="text" placeholder="Certificate url" formControlName="certificateUrl">
        <mat-hint>Enter certificate url.</mat-hint>
        @if (cInfo.controls['certificateUrl']?.errors?.['pattern']) {
        <mat-error>Invalid url!</mat-error>
        }
        @if (cInfo.controls['certificateUrl']?.errors?.['pairValues']) {
        <mat-error>Certificate url is required!</mat-error>
        }
      </mat-form-field>
    </div>

  </div>
  }

  <div class="d-flex justify-content-center gap-2 mt-4">
    <button mat-button color="primary" [disabled]="!coursesForm.valid" (click)="addNewCourseInfo()">Add new</button>
    <button mat-button color="primary" [disabled]="coursesFormArray.length === 1"
      (click)="removeLastCoursesFormGroup()">Remove last</button>
  </div>

  <div class="d-flex justify-content-center mt-3">
    @if (isEditMode) {
    <button type="submit" mat-fab extended [disabled]="!coursesForm.valid" (click)="emitData()">
      Update Info
    </button>
    }
    @else {
    <button type="submit" mat-button matStepperNext [disabled]="!coursesForm.valid" (click)="emitData()">
      Next
    </button>
    }
  </div>

</form>