<div class="container-fluid mt-3 p-4">
    <div class="d-flex justify-content-center">
        <mat-card appearance="raised" class="half-width d-flex justify-content-center mt-2 pt-4">
            <div class="text-center">
                <h3>Forgot Password</h3>
            </div>
            <div class="mx-5 my-3 text-center">
                No worries! Enter your email address bellow and if the email is correct you will recieve a link to reset
                your password.
            </div>
            <mat-card-content class="my-4">
                <form [formGroup]="form" (ngSubmit)="onSubmitForgotenPassword(form)" class="mx-4">

                    <mat-form-field class="d-flex full-width mx-auto mt-3">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput formControlName="email" placeholder="Email...">
                        @if (form.controls.email.touched && form.controls.email.errors?.['required']) {
                        <mat-error>Email is mandatory!</mat-error>
                        }
                        @if (form.controls.email.errors?.['pattern']) {
                        <mat-error>Invalid email!</mat-error>
                        }
                    </mat-form-field>

                    <mat-divider class="my-4 mx-auto"></mat-divider>

                    <div class="d-flex justify-content-center mb-2">
                        <button mat-fab extended type="submit" [disabled]="!form.valid">
                            Submit
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>