<div class="container-fluid">

  <div class="d-flex justify-content-center mt-3">
    <h4>Curriculum Vitaes</h4>
  </div>

  <div class="d-flex justify-content-start ms-5 my-3">
    <a mat-fab extended routerLink="new">
      <mat-icon>exposure_plus_1</mat-icon>
      Create new
    </a>
  </div>

  <div class="d-flex w-75 mx-auto my-3">
    <table mat-table [dataSource]="cvs" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef> Created on </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn | date}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex gap-2">
            <a mat-flat-button routerLink="view/{{element.id}}">View</a>
            <button mat-raised-button class="danger-btn"
              (click)="deleteCv(element.id, element.name, modal)">Delete</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<div #modal class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Curriculum Vitae</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You are about to delete CV '{{ cvName }}'</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancelDeletion()">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="onDeleteCv()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>