<nav aria-label="page navigation example">
  <ul class="pagination">
    <li class="page-item" (click)="onClickPage(activePage - 1)">
      <button class="page-link" [disabled]="isPreviousDisabled">
        <i class="bi bi-arrow-left"></i> Previous
      </button>
    </li>
    <li *ngFor="let item of pages"
      class="page-item"
      [ngClass]="{'active': activePage === item}" 
      (click)="onClickPage(item)">
      <button class="page-link">{{ item }}</button>
    </li>
    <li class="page-item" (click)="onClickPage(activePage + 1)">
      <button class="page-link">
        <i class="bi bi-arrow-right"></i> Next
      </button>
    </li>
  </ul>
</nav>