<div class="container-fluid">

  <ng-container *ngIf="userProfileData$ | async as userData">

    <div class="d-flex justify-content-center my-5">
      <div class="me-3">
        <img class="user-avatar" [src]="userData.pictureUrl" alt="User Avatar">
      </div>
      <div class="my-2 fw-bold">
        <p>{{ userData.fullName }}</p>
        <p><i class="bi bi-mailbox me-2"></i>{{ userData.email }}</p>
        <p><i class="bi bi-telephone me-2"></i>{{ userData.phone }}</p>
      </div>
    </div>

    <div class="d-flex justify-content-center gap-5 my-5">
      <mat-card appearance="raised" class="white-blue-gradient">
        <mat-card-header>
          <mat-card-title>
            <div [matBadge]="userData.cVsCount" matBadgeOverlap="false" matBadgeSize="large">
              View all Curriculum Vitaes
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2">
          <a routerLink="/profile/cvs">
            Here you can view all CVs or create a new one.
          </a>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="raised" class="white-blue-gradient">
        <mat-card-header>
          <mat-card-title>
            <div [matBadge]="userData.applicationsCount" matBadgeOverlap="false" matBadgeSize="large">
              Job Applications
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2">
          <a routerLink="/profile/job-applications">
            Here you can preview your job applications.
          </a>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="raised" class="white-blue-gradient">
        <mat-card-header>
          <mat-card-title>
            <div>
              View CV preview requests
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2">
          <a routerLink="/profile/cv-requests">
            Here you can view all cv requests from companies
          </a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="d-flex justify-content-center gap-5 my-5">
      <mat-card appearance="raised" class="white-blue-gradient">
        <mat-card-header>
          <mat-card-title>
            <div [matBadge]="userData.subscriptionsCount" matBadgeOverlap="false" matBadgeSize="large">
              Subscriptions
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2">
          <a routerLink="/profile/subscriptions">
            Here you can manage your job subscriptions for email job notifications.
          </a>
        </mat-card-content>
      </mat-card>
    </div>

  </ng-container>

</div>